@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));

body{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    line-height: 20px;
}

@theme {
    --color-primary: #1E40AF;
    --color-secondary: #2563EB;
    --color-text-primary: #252b37;
    --color-text-secondary: #414651;
}

.layoutTheme {
  --primary-btn-color: #EA0A2A; /* fixed invalid hex */
  --secondary-btn-color: #FFF0F2;
  --primary-btn-text-color: #181d27;
  --secondary-btn-text-color: #EA0A2A;
  --primary-btn-border-color: #EA0A2A; /* replaced invalid */
  --secondary-btn-border-color: #EA0A2A; /* replaced invalid */
  --text-primary-color: #181D27;
  --text-secondary-color: #535862;
  --bg-color: #FFF; /* added missing # */
}

.layoutTheme2 {
  --primary-btn-color: #1E40AF;
  --secondary-btn-color: #324368;
  --text-primary-color: #252B37;
  --text-secondary-color: #1E40AF; /* fixed syntax */
  --bg-color: #F5F5F5;
}
