@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));

body{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    line-height: 20px;
}

@theme {
    --color-primary: #1E40AF;
    --color-secondary: #2563EB;
    --color-text-primary: #252b37;
    --color-text-secondary: #414651;
}